In [2]:
fsdf
import numpy as np
import matplotlib.pyplot as plt

import pandas as pd

In [14]:
raw_df = pd.read_csv("timeseries_vqa.csv")
raw_df.head()

,BC Sales Channel,AWC and Comp,AWC Fiscal Year Month Abbr,Brand,Varietal Group,9L Cases,AWC FYr & Pd No,Avg Sales Price,Sales Dollars
0,BCLS,CONSTELLATION BRANDS,F2017 FEB,BLACK SAGE VINEYARD,CABERNET FRANC,17,201712,$28.74,"5,912"
1,BCLS,CONSTELLATION BRANDS,F2017 FEB,BLACK SAGE VINEYARD,CABERNET SAUVIGNON,1,201712,$28.74,368
2,BCLS,CONSTELLATION BRANDS,F2017 FEB,BLACK SAGE VINEYARD,MERLOT,11,201712,$28.74,"3,698"
3,BCLS,CONSTELLATION BRANDS,F2017 FEB,BLACK SAGE VINEYARD,OTHER,2,201712,$29.89,909
4,BCLS,CONSTELLATION BRANDS,F2017 FEB,CULMINA,CHARDONNAY,0,201712,$41.50,85